// colors
$main-bg-color: #a09f9c;
$main-btns-bg-color:#9C0A45;
$menu-btns-bg-color: #7C767B;
$arrows-bg-color: #262626;
// dimensions
$widths:(
    'front-back': 200px,
    'left-right': 50px,
    'top-bot':400px
);
$heights:(
    'front-back': 400px,
    'left-right': 400px,
    'top-bot': 50px
);

// texts
$main-txt-color: #242484;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 10px;